.content {
	text-align: center;
}

.icon {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#post_container {
	width: 1000px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	justify-content: center;
	border: 2px solid black;
}

.post {
	padding-left: 60px;
	padding-top: 20px;
}

.author {
	padding-left: 60px;
}