.content {
	text-align: center;
}

.icon {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#post_container {
	width: 80%;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
	justify-content: center;
	border: 2px solid black;
}

.post {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

.author {
	padding-left: 50px;
}